/*=====================Variables============*/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --grey: #2e2f42;
}
/*===================RESET CSS=====*/
*,
:before,
:after {
  margin: 0;
  padding: 0;
}

body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  width: 1440px;
  margin: 0 auto;
}
img {
  display: block;
}
/*default link style*/
.link {
  text-decoration: none;
  color: #2e2f42;
}
.link.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.link:hover,
.link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--ocean);
}
.logo > .studio {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/*default list style*/
.list {
  list-style: none;
  text-decoration: none;
}

/*first nav link*/
.nav-link {
  color: var(--navyblue);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
}
/*==========================ADDRESS ======*/
.address {
  font-style: normal;
}
.address .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address .link {
  color: var(--slate);
}

/*sections finally!*/
.section-one {
  background-color: var(--navyblue);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.hero-title {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.button {
  background-color: var(--iris);
  /* Button Text */
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
}
/*SECTION TWO*/
/* Header 3 */
.feature-title {
  color: var(--navyblue);

  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
/*paragraph*/
.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section three and for for headings*/
.section-header {
  color: var(--navyblue);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-four {
  background-color: var(--cloud);
}
/*section title and p bg color*/
.section-four .list-member,
.feature-text {
  background-color: var(--white);
}
/*footer*/
.footer {
  background-color: var(--navyblue);
}
.link.footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.link.footer .studio {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--cloud);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*============PORTFOLIO PAGE HW2============*/

/*buttons menu*/
.button-style {
  color: var(--iris);
  background-color: var(--cloud);
}
.portfolio-section .button-style:hover,
.portfolio-section .button-style:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/*==========IMAGES=========*/
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.design {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/*==================HOMEWORK THREE========*/
/*      HEADER     */
.list {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header .container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}
.header .list {
  display: flex;
  padding: 0;
  gap: 40px;
}
.header .link {
  padding: 24px 0;
}

.header .menu {
  display: flex;
  gap: 40px;
}
/*========SECTION1=========*/
.section-one {
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
}
.section-one .button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
}
/*==================SECTION2===========*/
.section-two {
  padding: 120px 0;
}
.visually-hidden {
  display: none;
}
.section-two .container {
  width: 1128px;
  margin-right: 156px;
  margin-left: 156px;
}
.section-two .list {
  display: flex;
  gap: 24px;
}
.section-two .list:last-child {
  margin-right: 0;
}
.feature-list {
  justify-content: center;
  /* width: calc(calc((100% - 72px) / 4)); */
}
